.contenedor_flex{
    display:flex;
    flex-wrap: nowrap;
}

.sidebar{
    position: relative;
    height: 100vh;
}

.menu_icon{
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.menu_icon, img{
    width: 100%;
}

.menu_bottom{
    position: absolute;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    bottom: 0px;
    background-color: #EB1C24;
}

.menu_bottom{
    font-size: .6rem;
    text-align: center;
    color: #fafafa;
}

.menu_row a{
    padding: 5px;
    color: white;
}

.menu_collapse{
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.sicollapse{
    width: 70px;
    transition-duration: 1s;
}

.nocollapse{
    width: 170px;
    transition-duration: 1s;
}

.labelNoShow{
    visibility: hidden;
    transition-duration: .3s;
}

.labelShow{
    visibility: visible;
    transition-duration: 1s;
}
