<div class="map-container">
    <div class="map-frame">
      <div id="map" class="mapa"></div>
      <div *ngIf="info" class="informacion">{{ info }}</div>
      <div class="input_controls">
        <div class="input-group mb-3">  
          <input type="text" (change)="revisarTxt()" name="search" [(ngModel)]="txtSearch" placeholder="" class="form-control" id="myInputId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div *ngIf="txtSelect != ''" class="dropdown-menu menu" aria-labelledby="myInputId">
              <a class="dropdown-item" (click)="getMarker(item.geometry.location, item.formatted_address)"  *ngFor="let item of txtSelect">{{ item.formatted_address }}</a>
          </div>
          <div *ngIf="wresult" class="dropdown-menu menu" aria-labelledby="myInputId">
            <a class="dropdown-item"> Sin resultados </a>
        </div>
          
          <button class="btn btn-light p-2" (click)="buscar()">
            <svg width="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
 

