.fondo_inst{
  background-color: #1C274C;
  color: #fff;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    width: 100%;
    height: 100%;
    border: solid 1px red;
  }

  .input_controls{
    display: flex;
    position: absolute;
    top: 10px;
    left: 200px;
    z-index: 800;
  }

  .menu{
    width: 100%;
    display: block;
    top: 40px;
    z-index: 800;
    font-size: .7rem;
  }

  .menu a{
    cursor: pointer;
  }

  .menu a:hover{
    background-color: --primary;
  }

  .informacion{
    padding: 7px;
    width: 300px;
    min-width: 300px;
    height: 220px;
    position: absolute;
    bottom: 20px;
    left: 30%;
    z-index: 888;
    font-size: .7rem;
    background-color:white;
    border: 1px solid gray;
    border-radius: 10px;
  }

  .card-title{
    font-size: .8rem;
  }

  hr{
    height: 2px;
    margin: 2px;
  }

  .card-text{
    font-size: .7rem;
  }

  .card{
    border: none;
  }

  .card-body{
    position: relative;
    margin: 0;
    padding: 0;
  }

  .info_fotos{
    display: flex;
    justify-content: space-between;
    background-color: #ccc9c9;
    padding: 2px;
    overflow-x: hidden;
    overflow-x: scroll;
  }

  .info_fotos img{
    width: 50px;
    margin: 2px;
    cursor: pointer;
  }

  .btn_cerrar_info{
    position: absolute;
    bottom:-40px;
    right: 10px;
  }

  .modal_map{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,0.7);;
  }

  .modal_map .modal-info{
    width: 300px;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
    padding: 10px;
  }

  .modal-header button{
    margin-left: 100px;
  }

  .modal-footer button{
    margin: 10px;
  }