<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
      <div *ngIf="actInfo" class="informacion">
        <div style="width: 100%;">
          <div class="card-body">
            <h6 class="card-title">
              <img src="{{ info.img }}" width="30">
              {{ info.address }} {{ info.patente }}</h6>
              <hr>
              {{ info.data }}
            <p class="card-text"><b>lat:</b>  {{info.lat}} <b>lng:</b> {{ info.lng}}</p>
            <div class="info_fotos">
              <img src="assets/thumbs/1.jpg">
              <img src="assets/thumbs/2.jpg">
              <img src="assets/thumbs/3.jpg">
              <img src="assets/thumbs/4.jpg">
              <img src="assets/thumbs/5.jpg">
              <img src="assets/thumbs/6.jpg">
            </div>

            <div class="btn_cerrar_info"><button class="btn btn-outline-secondary btn-sm" (click)="cerrar_info()">Cerrar</button></div>
          </div>
        </div>
      </div>
      <div class="input_controls">
        <div class="input-group mb-3">  
          <input type="text" (change)="revisarTxt()" name="search" [(ngModel)]="txtSearch" placeholder="" class="form-control" id="myInputId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div *ngIf="txtSelect != ''" class="dropdown-menu menu" aria-labelledby="myInputId">
              <a class="dropdown-item" (click)="getMarker(item.geometry.location, item.formatted_address)"  *ngFor="let item of txtSelect">{{ item.formatted_address }}</a>
          </div>
          <div *ngIf="wresult" class="dropdown-menu menu" aria-labelledby="myInputId">
            <a class="dropdown-item"> Sin resultados </a>
        </div>
          
          <button class="btn btn-light p-2" (click)="buscar()">
            <svg width="15" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 6C13.7614 6 16 8.23858 16 11M16.6588 16.6549L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
          </button>
        </div>
      </div>
    </div>
</div>

<div *ngIf="actModal" class="modal_map">
  <form #loginForm="ngForm" class="mt-10" (ngSubmit)="loginForm.valid;  loginForm.resetForm()">
  <div class="modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar evento</h5>
        <br><br>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="form-label" id="basic-addon3">Tipo evento</span>
          <div class="input-group mb-3">
            <select 
              class="form-control" 
              name="selTxt" 
              [(ngModel)]="evento.title"
              >
              @for (item of itemsTipo; track $index) {
                <option value="{{ item.tipo }}">{{item.tipo}}</option>
              }
            </select>
          </div>

          <span class="form-label" id="basic-addon3">Posición</span>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Lat:</span>
            <input type="text"  name="lat"class="form-control" [(ngModel)]="evento.lat"><br>
            <span class="input-group-text" id="basic-addon3">Long</span>
            <input type="text" name="lng" class="form-control" [(ngModel)]="evento.lng">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn fondo_inst" (click)="saveMarker()">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</form>
</div>

  
 

